.container > div {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto auto auto auto;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "p p p p p p p p p p p p"
        "p p p p p p p p p p p p"
        "p p p p p p p p p p p p"
        "p p p p p p p p p p p p"
        "p p p p p p p p p p p p"
        "p p p p p p p p p p p p"
}
.animated{
    z-index: -5;
}
body{
    background-color: aliceblue;
}
.header{
    grid-area: h;
    background-color:rgba(210, 234, 255, 0.596);
    position: fixed;
    width: 99%;
    z-index: 9;
}
.header a{
    color: rgb(39, 79, 102);
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    text-decoration: none;
}
.header a:hover{
    color: rgb(95, 143, 170);
}
img{
    display: grid;
    width: 100%;
    /* padding: 50px; */
    padding: auto;
}
.photo {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-columns: 1fr;
    grid-auto-flow: auto;
    padding-bottom: 50px;
}
.draw {
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-columns: 1fr;
    grid-auto-flow: auto;
    padding-bottom: 60px;
}
.circle{
    border-radius: 50%;
}
h2{
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 79, 102);
}
@media(max-width:550px) {
    .photo{
        width:40%;
        margin: 10px;
    }
}

/* COMMIT - PUSH */