.container > div {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto auto auto auto;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "p p p p p p p p p p p p"
    "p p p p p p p p p p p p"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
    height: 100%;
}
/* .photo  {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-columns: 1fr;
    grid-auto-flow: auto;
    /* padding-top: 50px; */
    /* width: 48%; */
    /* height:100%; */
} */
/* .pic{
    grid-area: c; */
    
}
.header{
    grid-area: h;
    background-color:rgb(39, 79, 102);
    position: fixed;
    width: 99%;
}
.header a{
    color: aliceblue;
    padding: 15px;
}
/* img{
    display: grid; */
    /* grid-area: p;
    width: 100%;
    padding-left: 10px; */
}
.photo{
    grid-area: p;
}
/*
.photo2{
    grid-area: g;
} */
