.container > div {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto auto auto auto;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "p p p p p p . . . . i i"
        "p p p p p p . . . . i i"
        "p p p p p p . . . . i i"
        "w . . . . . . e e . . ."
        "w . . . . . . e e . . ."
        "w . . . . . . e e . . ."
        /* "f f f f f f f f f f f f" */
        ;
}
body{
    background-color: aliceblue;
}
.header{
    grid-area: h;
    background-color:rgba(210, 234, 255, 0.596);
    position: fixed;
    width: 99%;
    z-index: 9;
}
.header a{
    color: rgb(39, 79, 102);
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    text-decoration: none;
}
.header a:hover{
    color: rgb(95, 143, 170);
}
p, li{
    width: 40%;
    height: 100%;
    font-size: 16px;
    color: rgb(41, 136, 219);
    font-family: 'Raleway', sans-serif;
    /* grid-area: c; */
}
img{
    grid-area: p;
    /* width: 80%; */
}
h3, a, h2{
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 79, 102);
}
.intro{
    grid-area: i;
}
.extra{
    grid-area: x;
    flex-direction: column;
}
.work{
    grid-area: w;
    flex-direction: column;
}